<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/static/output.css">

</head>

<body class="">
    <main class="flex justify-evenly items-center h-screen bg-primary">
        <div>
            <img src="/static/StockImage.png" alt="ToolStock">
        </div>
        <div class="text-white bg-secondary p-8 rounded-md">
            <h1 class="text-4xl font-bold mb-4">ToolStock</h1>
            <p class="font-semibold">Uma forma diferente de gerenciar seu estoque</p>
            <div th:if="${error}" class="text-white w-full bg-red-400 rounded-md p-2 mt-10">
                <p th:text="${error}"></p>
            </div>
            <form th:action="@{/register}" method="post" class="flex flex-col gap-4 mt-4 mb-16">
                <div class="flex flex-col gap-1">
                    <label for="email">Email</label>
                    <input id="email" name="email" type="text" class="rounded-md p-2 bg-transparent pl-4"
                        placeholder="Digite seu email">
                </div>
                <div class="flex flex-col gap-1">
                    <label for="password">Senha</label><input id="password" name="password" type="password"
                        class="rounded-md p-2 bg-transparent pl-4" placeholder="Digite sua senha">
                </div>
                <div class="flex flex-col gap-1">
                    <label for="confirmPassword">Confirme a Senha</label><input id="confirmPassword"
                        name="confirmPassword" type="password" class="rounded-md p-2 bg-transparent pl-4"
                        placeholder="Confirme sua senha">
                </div>
                <div class="flex flex-col gap-1">
                    <label for=" role">Role</label>
                    <select id="role" name="role" class="rounded-md p-2 bg-transparent pl-4">
                        <option value="user" class="text-black">Usuário</option>
                        <option value="admin" class="text-black">Administrador</option>
                    </select>
                </div>
                <button type="submit" class="bg-white rounded-full text-primary h-10 font-bold mt-6">Registrar</button>
            </form>
            <div>
                <p>Já possui conta?</p>
                <a href="/login" class="underline">Entre aqui</a>
            </div>
        </div>
    </main>
</body>

</html>