<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="output.css">

</head>

<body class="">
    <main class="flex justify-evenly items-center h-screen bg-primary">
        <div>
            <img src="StockImage.png" alt="ToolStock">
        </div>
        <div class="text-white bg-secondary p-8 rounded-md">
            <h1 class="text-4xl font-bold mb-4">ToolStock</h1>
            <p class="font-semibold">Uma forma diferente de gerenciar seu estoque</p>
            <div th:if="${error}" class="text-white w-full bg-red-400 rounded-md p-2 mt-10">
                <p th:text="${error}"></p>
            </div>
            <form th:action="@{/register}" method="post" class="flex flex-col gap-4 mt-4 mb-16">
                <div class="flex flex-col gap-1">
                    <label for="email">Email</label>
                    <input id="email" name="email" type="text" class="rounded-md p-2 bg-transparent pl-4"
                        placeholder="Digite seu email">
                </div>
                <div class="flex flex-col gap-1">
                    <label for="password">Senha</label><input id="password" name="password" type="password"
                        class="rounded-md p-2 bg-transparent pl-4" placeholder="Digite sua senha">
                </div>
                <div class="flex flex-col gap-1">
                    <label for="confirmPassword">Confirme a Senha</label><input id="confirmPassword"
                        name="confirmPassword" type="password" class="rounded-md p-2 bg-transparent pl-4"
                        placeholder="Confirme sua senha">
                </div>
                <div class="flex justify-center items-center h-full">
                    <video class="rounded-md border-4 border-secondary hidden" id="input_video" height="240"
                        width="320"></video>
                    <canvas class="rounded-md border-4 border-secondary" id="output_video" height="240"
                        width="320"></canvas>
                </div>
                <!-- <input type="image" src="camera.png" alt="Submit" width="48" height="48" onclick="startCamera()"> -->
                <div id="face-inputs" class="flex justify-center items-center"><button id="face-button">Enviar
                        imagem</button></div>
                <script src="face-recognition.js"></script>
                <script async src="https://docs.opencv.org/master/opencv.js" id="opencvjs" onload="onCVLoad()"></script>
                <button id="register-submit" type="submit"
                    class="bg-white rounded-full text-primary h-10 font-bold mt-6">Registrar</button>
            </form>
            <div>
                <p>Já possui conta?</p>
                <a href="/login" class="underline">Entre aqui</a>
            </div>
        </div>
    </main>

    <script>

        document.getElementById('register-submit').addEventListener('click', function (event) {
            event.preventDefault();
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('confirmPassword').value;

            if (password !== confirmPassword) {
                alert('As senhas não coincidem');
                return;
            }

            document.querySelector('form').submit();
        });

        document.getElementById('face-button').addEventListener('click', function (event) {
            event.preventDefault();
            const video = document.getElementById('input_video');
            const canvas = document.getElementById('output_video');
            const context = canvas.getContext('2d');
            context.drawImage(video, 0, 0, canvas.width, canvas.height);
            const dataURL = canvas.toDataURL('image/png');
            const inputImage = document.createElement('input');
            inputImage.type = 'hidden';
            inputImage.name = 'faceImage';
            inputImage.value = dataURL;
            document.querySelector('form').appendChild(inputImage);
            console.log(inputImage)
            const button = document.getElementById('face-button');
            document.getElementById('face-inputs').removeChild(button);
            const text = document.createElement('p');
            text.innerText = 'Imagem enviada com sucesso!';
            document.getElementById('face-inputs').appendChild(text);
        });
    </script>
</body>

</html>